.changePassForm{
    top: 0.5em;
    /* background-color: bisque; */
}

#change-pass h3{
    font-size: 2.5em;
}


#change-pass input [type="text"], #change-pass input[type="password"]{
    width: 60%;
}

#change-pass-btn button{
    background-color: #FCC125;
    color: #21364B;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
}

#change-pass-btn button:hover{
    background-color: #21364B;
    color: #FCC125;
}



/* .chnage_pass_btn:hover{
    background-color: aqua;
} */


@media screen and (max-width:1126px) {
    #change-pass input [type="text"], #change-pass input[type="password"]{
        width: 75%;
    }
}

@media screen and (max-width:1080px) {
    .changePassForm{
        top: 0.4em;
        /* background-color: bisque; */
    }
    #change-pass h3{
        font-size: 1.8em;
    }

    #change-pass label{
        font-size: 1.5em;
    }
 
}

@media screen and (max-width:760px) {
    .changePassForm{
        top: 0.3em;
        /* background-color: bisque; */
    }
    
    #change-pass h3{
        font-size: 1.6em;
    }

    #change-pass label{
        font-size: 1.3em;
    }
    #change-pass-btn button{
        width: 75%;
        font-size: 1rem;
    }
}
