body::-webkit-scrollbar{
    display: none;
}

.edit_setup{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    
}

.edit_setup h3{
    font-size: 1rem;


}


.bottom-form-2{
    width: 100%;
    display: flex;

}

.Edit_jobs_divs{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}

.edit_jobs_single_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.edit_jobs_single_div input{
    width: 75%;
}



.EditjobDetail{
    position: fixed;
    backdrop-filter: blur(2px);
    margin: auto;
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 30;
}

.half_divs{
    width: 50%;
    
}


.half_divs input{
    width: 75%;
    
}

.job_description1 textarea{
    background-color: #f6f9fc;
    width: 50%;
    border-radius: 20px;
    padding: 2rem;
    border-width: 3px;
    border-color: #21364B;
    height: 30vh;
    
}

.job_description1 textarea::-webkit-scrollbar{
    display:none;
}

.mainEditJob{
    border-radius: 25px;
    padding: 3%;
    margin: auto;
    margin-left: 3vw;
    margin-top: 3vh;
    /* position: relative; */
    /* margin: 1%; */
    background-color: rgb(255, 255, 255);
    width: 75vw; 
    
    /* height: 70vh; */
    box-shadow: 0px 0px 30px grey;
    /* text-align: center; */
}


.jobSkills{
    display: flex;
}

.skills{
    justify-content: flex-start;
    display: flex;
}

.closeBtnJobDetail{
    float: right;
    width: min-content;
}

.applyBtnJobDetail{
    background-color: #21364B;
    color: #FCC125;
    border-radius: 0.5rem;    
}



.left_aligned{
    text-align: left;
}



/* .individual_skill{
    width: auto;
    max-width: 200px;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 3px;
    background-color: #21364B;
    color: #FCC125;
} */



.individual_skill_edit_key{

    width: auto;
    max-width: 200px;
    padding: 0 5%;
    border-radius: 5px;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    margin: 0 2%;
    margin-bottom: 10px;
    background-color: #21364B;
    color: #FCC125;
    text-align: center;
}
.individual_skill_edit_job button{
    padding: 3% 15%;
    margin: 0;
    color: #FCC125;
    background-color: #0464c300;


}

.edit_skills{
    /* width: 2000px; */
    overflow-x: scroll;
    display: flex;
    /* background-color: aqua; */
}

.edit_job_skill_container{
    width: auto;
    /* background-color: bisque; */
}

.add_skill_btn{
    display: flex;      
    width: 100%;
    justify-content: center;
}
.add_skill_btn button{
    width: 25%;
    padding: 2%;
}

.edit_job_save{
    width: 100%;
}
.edit_job_save button{
    width: 30%;
}


@media screen and (max-width: 760px) {
    
    .add_skill_btn button{
        width: 35%;
        font-size: small;
    }
    .edit_job_save button{
        width: 40%;
        font-size: small;
    }
    #all-labels{
        font-size: 0.75rem;

    }
}
