.termsAndConditionsMain{
    background-color: #21364B;
    height: auto;
    width: 90vw;
    padding: 10% 3%;
    text-align: left;

}

.tandcMainHolder{
    background-color: #21364B;
    color: wheat;
    top: 0;
    /* padding: 100px 0; */
}